[Unit]
Description=Iniciar docker cuando se inicie la máquina
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/sdnuser/graylogd
ExecStart=/usr/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
